<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/assignment4.css">
    <title>node-vue-ch2</title>
</head>
<body>
    <div id="exercise">
        <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
        <div>
            <button @click="startEffect">Start Effect</button>
            <div id="effect" :class="effectClass"></div>
        </div>
        <hr>
        <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
        <div :class="noClassArray">I got no class :(</div>
        <hr>
        <!-- 3) Let the user enter a class (create some example classes) and attach it -->
        <div>
            <input type="text" v-model="inputClass">
            <div :class="inputClass"></div>
        </div>
        <hr>
        <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
        <div>
            <input type="text" v-model="num4Class">
            <input type="text" v-model="num4Apply">
            <div :class="textClass"></div>
        </div>
        <hr>
        <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
        <div>
            <input type="text" v-model="num5Style">
            <div :style="{backgroundColor: num5Style, height: '100px'}"></div>
            <!-- <div :style="[num5Style, {height: '100px'}]"></div> -->
        </div>
        <hr>
        <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
        <div>
            <!-- <button @click="startProgress">Start Progress</button> -->
            <div :style="{width: progressBarPct + 'px', height: '20px', backgroundColor: 'blue'}"></div>
        </div>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="./js/libs/vue.js"></script>
    <script src="./js/assignment4.js"></script>
</body>
</html>